{% extends 'index.html' %}

{% load socialaccount %}

{% block content %}
<!-- Main Account Page-->

<body>    
    {% if user.is_authenticated %}
    <div style="height: 450px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1 style="text-align: center; margin-bottom: 50px;">Search People</h1>
    <div class="form-group">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ search_form.as_p }}
        <div class="container text-center">
            <button class="btn btn-primary btn-lg pull-right" type="submit">Search</button>
        </form>
    </div>
</div>
    {% else %}
        <meta http-equiv="refresh" content="0; URL=/accounts/login/" />
    {% endif %}
</body>

{% endblock %}