body { background-color: whitesmoke; }

h1 { 
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: lightsteelblue;
    font-size: 100px;
}

li a {
    color: black;
}

h2 { 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: lightsteelblue;
    font-size: 50px;
}

h4 { font-size: 20px; font-weight: normal; }

.navbar-custom { background-color: lightsteelblue; }

.color-me{ color:black; }

.dropdown-menu { background-color: lightsteelblue; }

.navbar-brand {
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    display: block;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: lightsteelblue;
    color: black;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}